@font-face{font-family:'sri';src:url('../fonts/sri.eot');src:url('../fonts/sri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sri.woff2') format('woff2'),
         url('../fonts/sri.woff') format('woff');font-weight:normal;font-style:normal}body{font-family:'sri';font-size:17pt}